<h3>
    <%= @roaster.name %>
</h3>
<div class="address">
    <p>
        <%= @roaster.address %>
    </p>
</div>
    <iframe width="350" height="250" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=<%= @roaster.address %>&key=AIzaSyCdE635lhPuKadi5SMfYwPrwZkG27OZ-d4"></iframe>
<hr>
Cafes Supplied:
<ul>
    <% @roaster.cafes.each do |c|%>
        <li>
            <%= link_to c.name, cafe_path(c) %>
        </li>
    <% end%>
</ul>

<hr>

<div class="new-review">
    <%= link_to "Add new Rating", new_roaster_roaster_rating_path(@roaster) %>
</div>

<div class="show-visits">
    <p>
        Recent Reviews:
        <%= render @roaster.roaster_ratings %>
    </p>
</div>
<hr>
    <% if @current_user.present? && @current_user.admin %>
        <%= link_to 'Edit', edit_roaster_path(@roaster.id) %>
        |
        <%= link_to 'Delete', roaster_path(@roaster), method: 'delete' %>
    <% end%>