<% if @cafe.errors.any?%>
    <ul>
        <% @cafe.errors.full_messages.each do |e| %>
        <li>
            <%= e %>
        </li>
        <% end %>
    </ul>
<% end %>

<%= form_with model: @cafe, local: true do |f| %>

    <%= f.label :name, 'Cafe Name'%>
    <br>
    <%= f.text_field :name %>
    <br><br>
    
    <%= f.label :address %>
    <br>
    <%= f.text_field :address %>
    <br><br>

    <%= f.label :roaster_id, 'Roaster (leave blank if none)' %>
    <br>
    <%= f.collection_select :roaster_id, Roaster.all, :id, :name, include_blank: true %>
    <br><br>

    <%= f.submit %>

<% end %>