<h3>
    <%= @cafe.name %>
</h3>
<div class="address">
    <p>
        <%= @cafe.address %>
    </p>
    <iframe width="350" height="250" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=<%= @cafe.address %>&key=AIzaSyCdE635lhPuKadi5SMfYwPrwZkG27OZ-d4"></iframe>
    <% if @cafe.roaster%>
    <p>
        Coffee Supplier: <%= link_to "#{@cafe.roaster.name}", roaster_path(@cafe.roaster.id) %>
    </p>
    <% end %>
</div>
<hr>

<div class="show-visits">
    <p>
        Recent Check-Ins:
        <br>
        <br>
        <% @cafe.users.each do |u| %>
            <%= link_to "#{u.name}", user_path(u.id) %>
            <br>
            <% currentuser = u.cafe_ratings  %>
            <% rating = currentuser.where(cafe_id: params[:id]).to_a %>
            Rating: <%= rating.pluck(:rating).join() %> / 5
            <br>
            Review: <%= rating.pluck(:review).join() %>
            <br>
            <%= rating.pluck(:created_at).join() %>
            <br>
            <br>
        <% end %>
    </p>
</div>
<hr>
    <% if @current_user.present? && @current_user.admin %>
        <%= link_to 'Edit', edit_cafe_path(@cafe) %>
        |
        <%= link_to 'Delete', cafe_path(@cafe), method: 'delete' %>
    <% end%>