<h3>
    <%= @cafe.name %>
</h3>
<div class="address">
    <p>
        <%= @cafe.address %>
    </p>
    <iframe width="350" height="250" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=<%= @cafe.address %>&key=AIzaSyCdE635lhPuKadi5SMfYwPrwZkG27OZ-d4"></iframe>
    <% if @cafe.roaster%>
    <p>
        Coffee Supplier: <%= link_to "#{@cafe.roaster.name}", roaster_path(@cafe.roaster.id) %>
    </p>
    <% end %>
</div>
<hr>

<div class="new-review">
    <%= link_to "Add new Rating", new_cafe_rating_cafe_path(@cafe) %>
</div>

<div class="show-visits">
    <p>
        Recent Reviews:
        <%= render @cafe.rating_cafes %>
    </p>
</div>
<hr>
    <% if @current_user.present? && @current_user.admin %>
        <%= link_to 'Edit', edit_cafe_path(@cafe) %>
        |
        <%= link_to 'Delete', cafe_path(@cafe), method: 'delete' %>
    <% end%>