<!DOCTYPE html>
<html>
  <head>
    <title>Brewd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
        <%= link_to 'Home', root_path %>
        |
        <%= link_to 'Cafes', cafes_path %>
        |
        <%=link_to 'Roasters', roasters_path  %>
        |
        <div id="login">
          <% if @current_user.present? %>
            <%= link_to 'New Cafe', new_cafe_path %>
            |
            <%= link_to 'New Roaster', new_roaster_path %>
            | 
            Signed in as: <%= link_to "#{@current_user.name}", user_path(@current_user.id) %>
            |
            <%= link_to 'Logout', login_path, method: 'delete' %>
          <% else %>
            <%= link_to 'Login', login_path %>
            |
            <%= link_to 'Sign Up', '/does-not-exist-yet' %>
          <% end %>
        </div>
     
    </nav>

    <%= yield %>
  </body>
</html>
